@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.btn-logout {
  border:none;
  background-color: white;
  border-bottom: 1px solid black;
}

.btn-logout:hover {
  border-bottom: 3px solid black;
}

input:focus, textarea:focus {
  outline: none;
}

.heading {
  font-family: "Dancing Script", cursive;
}

.notes-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.note-preview {
  width: 250px;
  max-height: 50vh;
  overflow-y: clip;
  border-radius: var(--border-radius-s);
  text-align: left;
}

.add-note {
  border-radius: var(--border-radius-s);
  width: 60vw;
  border: 1px solid gray;
}

.edit-note-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.edit-note {
  min-width: 40%;
  min-height: 50%;
  z-index: 1;
  padding: var(--padding-m);
  border-radius: 1rem;
}

.note-title {
  border: none;
}

.note-body {
  border: none;
  resize: none;
  font-family: sans-serif;
  min-height: 50vh;
  flex-grow: 1;
}

.note-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-save {
  border: none;
  background: none;
  border: 1px solid gray;
}

.note-color {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.selected-color {
  border: 1px solid black;
}

.note-pin {
  position: absolute;
  top: 5%;
  right: 5%;
}

.empty-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(50%);
}

@media screen and (max-width: 768px) {
  .edit-note {
    min-width: 100%;
    min-height: 100%;
    border-radius: none;
  }

  .empty-modal {
    display: none;
  }

  .btn-logout {
    margin-left: var(--margin-xl);
    margin-right: var(--margin-xl);
    margin-top: var(--margin-xl);
  }
}